			<div class="jumbotron">
				<h1>Secret page</h1>
{{#if user}}
				<p>Have some sunflowers :)</p>
				<p><img src="sunflowers.jpg" /></p>
{{else}}
				<p>You need to <a href="/signin">sign in</a> to see the secret page.</p>
{{/if}}
				<p><a href="/">&larr; Back to the home page</a></p>
			</div>
